
/* Set font size and alignment for the message */
.bottom-message {
    font-size: 0.8em !important;
    font-style: italic !important;
    text-align: center;
    position: relative;
    bottom: 0 !important;
    left: 0;
    right: 0;
}

/* Code chunks background */
.reveal pre code {
    background-color: #2e2e2e;
}

/* Left-align all code outputs */
.reveal pre code {
  text-align: left !important;
}

/* Code chunks text color */
.reveal pre code {
    color: white;
}

/* Code output background */
.reveal pre code.output {
    background-color: black;
}

/* Code output text color */
.reveal pre code.output {
    color: white;
  }
  

/* Add horizontal scrolling to all code outputs */
.reveal pre code.output {
    white-space: pre !important;
    overflow-x: auto !important;
}
/* Change the font family used for code blocks */
pre, code, kbd, samp {
    font-family: "Courier New", Courier, monospace;
  }
  
  
/* Add horizontal scrolling to all code chunks */
.reveal pre code {
    white-space: pre !important;
    overflow-x: auto !important;
}
/* Bold slide titles and change color */
.reveal h2 {
    font-weight: bold !important;
    color: #9c0366;
}
/* Bold slide titles and change color */
.reveal h1 {
    font-weight: bold !important;
    color: #9c0366;
}
.reveal .slides>section:first-child h2 {
    color: #333;
    font-weight: normal !important;
  }
/* Custom slide title */
.my-title-slide h1 {
    font-weight: bold;
    color: #9c0366;
  }
.my-title-slide h2 {
color: #333;
font-weight: normal !important;
}



.reveal .slides>section:first-child h1 {
    font-weight: bold !important;
    color: #9c0366;
}

/* Increase the spacing between list items */
.reveal p {
    text-align: left;
    margin-left: 20px !important;
  }
.reveal ul {
    display: block;
    margin-left: 75px !important;
    margin-right: 50px !important;
}
.reveal ol {
    display: block;
    margin-bottom: 20px !important;
} 


/* Decrease size of image, remove border, shadow and center align*/
.reveal img {
    max-width: 60%;
    border: none !important;
    box-shadow: none !important;
    display: block !important;
    margin: 0 auto !important;
}

small {
    font-size: 70%;
}

.small-bullets ul {
    font-size: 70%;
}

.less-small-bullets ul {
    font-size: 80%;
}

.big-picture img{
    max-width: 70%;
    border: 1px solid black !important;
}