
/*-- scss:defaults --*/

// Custom color palette
$primary-color: #9c0366;
$secondary-color: #BB3E03;
$link-color: #0c74dc;
$link-hover-color: #9c0366;
$code-bg: #f5f0ebff;
$code-block-bg: #f5f0ebff;
$code-block-font-size: 0.8em;

// Typography
$font-family-sans-serif: "Helvetica", sans-serif !default;
$font-family-monospace: "Menlo", sans-serif !default;

// Override Quarto reveal.js defaults
$presentation-heading-font: $font-family-sans-serif !default;
$presentation-heading-color: $primary-color !default;
$presentation-heading-text-transform: none !default;
$presentation-heading-text-shadow: none !default;
$link-color-default: $link-color !default;
$presentation-list-bullet-color: $secondary-color !default;

/*-- scss:rules --*/

// Define CSS custom properties for dynamic theming
:root {
  --r-list-bullet-color: #{$presentation-list-bullet-color};
}

// Font family overrides
pre, code, kbd, samp {
  font-family: $font-family-monospace;
}

.reveal {
  // Typography
  p, li, h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-sans-serif;
  }

  // Heading styles
  h1 {
    font-weight: bold !important;
    color: $primary-color;
    font-size: 2.0em;
  }

  h2 {
    font-weight: bold !important;
    color: $primary-color;
    font-size: 1.3em;
  }

  h3 {
    color: black;
    font-size: 0.7em;
  }

  // Special handling for first slide
  .slides > section:first-child {
    h1 {
      font-weight: bold !important;
      color: $primary-color;
    }

    h2 {
      color: black;
      color: $primary-color;
      font-weight: normal !important;
    }
  }

  // Custom colored list bullets
  ul,
  ol {
    li::marker {
      color: var(--r-list-bullet-color);
    }
  }
}

// Slide content styling
.reveal .slide {
  // Ensure slide titles remain centered
  h1, h2 {
    text-align: center;
  }

  // Paragraph styling for slide content only (not titles)
  p:not(.subtitle) {
    text-align: left;
    margin-left: 25px;
    margin-right: 25px;
  }

  // List styling for slide content only
  ul {
    display: block;
    margin-left: 25px;
    margin-right: 25px;
    padding-left: 1em;

    ul {
      font-size: 0.75em;
      margin-bottom: 5px;
    }
  }

  ol {
    display: block;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: 25px;
    padding-left: 1em;
  }

  li {
    margin-bottom: 15px;
  }

  // Custom colored list bullets for slide content
  ul,
  ol {
    li::marker {
      color: var(--r-list-bullet-color);
    }
  }
}

// Code styling
.reveal pre,
.reveal code {
  font-family: $font-family-monospace !important;
  font-size: $code-block-font-size !important;
  line-height: 1.2 !important;
}

.reveal pre code {
  text-align: left !important;
  white-space: pre !important;
  overflow-x: auto !important;
}

// Image and link styling
.reveal {
  img {
    max-width: 70%;
    border: none;
    box-shadow: none;
    display: block;
    margin: 0 auto;
  }

  a {
    color: $link-color;

    &:hover {
      color: $link-hover-color;
    }
  }
}

// Custom utility classes
.bottom-message {
  font-size: 0.8em !important;
  font-style: italic !important;
  text-align: center;
  position: relative;
  bottom: 0 !important;
  left: 0;
  right: 0;
}

// Size utility classes
small_custom {
  font-size: 85%;
}

.small_custom {
  p, li, ul, ol {
    font-size: 85%;
  }
}

smaller {
  font-size: 88%;
}

.smaller {
  p, li, ul, ol {
    font-size: 88%;
  }
}

.reveal section.smaller h2 {
  font-size: 1.1em;
}

smallest {
  font-size: 70%;
}

.smallest {
  p, li, ul, ol {
    font-size: 70%;
  }
}

.small-bullets ul {
  font-size: 85%;
}

.less-small-bullets ul {
  font-size: 80%;
}

.small-list ol {
  font-size: 80%;
}

// Image size classes
.big-picture img {
  max-width: 95%;
}

.small-picture img {
  max-width: 65%;
}

.smaller-picture img {
  max-width: 60%;
}

// Table styling
.reveal {
  table {
    font-size: 0.6em !important;
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid #ddd;
  }

  table th {
    padding: 6px 10px;
    font-size: 0.6em !important;
    background-color: #f0f0f0;
    font-weight: bold;
    border: 1px solid #ddd;
    text-align: left;
  }

  table td {
    padding: 5px 10px;
    font-size: 0.6em !important;
    border: 1px solid #ddd;
  }

  table.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.03);
  }

  table.table-striped tbody tr:nth-of-type(even) {
    background-color: white;
  }
}

// Example box styling for prompts
// Shared base styles
%example-base {
  padding: 10px 15px;
  margin: 10px 25px;
  font-size: 0.80em;
  position: relative;

  // Override colored list markers inside example boxes
  ul, ol {
    li::marker {
      color: #333 !important;
    }
  }
}

// Icon mixin for good/bad variants
@mixin example-icon($svg-data-uri) {
  padding-left: 40px;

  &::before {
    content: "";
    position: absolute;
    left: 4px;
    top: 10px;
    width: 52px;
    height: 52px;
    background-image: url($svg-data-uri);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

// Smaller icon mixin for neutral examples
@mixin example-icon-small($svg-data-uri) {
  padding-left: 36px;

  &::before {
    content: "";
    position: absolute;
    left: 8px;
    top: 10px;
    width: 26px;
    height: 26px;
    background-image: url($svg-data-uri);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

// Checkmark SVG (green #4caf96)
$check-icon: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%234caf96'%3E%3Cpath d='M400-304 240-464l56-56 104 104 264-264 56 56-320 320Z'/%3E%3C/svg%3E";

// X SVG (orange #e57b35)
$close-icon: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23e57b35'%3E%3Cpath d='m336-280-56-56 144-144-144-143 56-56 144 144 143-144 56 56-144 143 144 144-56 56-143-144-144 144Z'/%3E%3C/svg%3E";

// Info SVG (gray #888888)
$info-icon: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23888888'%3E%3Cpath d='M440-280h80v-240h-80v240Zm68.5-331.5Q520-623 520-640t-11.5-28.5Q497-680 480-680t-28.5 11.5Q440-657 440-640t11.5 28.5Q463-600 480-600t28.5-11.5ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z'/%3E%3C/svg%3E";

// Generic example (info icon)
.example {
  @extend %example-base;
  @include example-icon-small($info-icon);
  background-color: #e8e8e8ff;
  border-left: 5px solid #888888ff;
}

.example-indented {
  @extend %example-base;
  @include example-icon-small($info-icon);
  background-color: #e8e8e8ff;
  border-left: 5px solid #888888ff;
  margin-left: 60px;
}

// Good example (checkmark icon)
.good-example {
  @extend %example-base;
  @include example-icon($check-icon);
  background-color: #d4ede6ff;
  border-left: 5px solid #4caf96ff;
}

.good-example-indented {
  @extend %example-base;
  @include example-icon($check-icon);
  background-color: #d4ede6ff;
  border-left: 5px solid #4caf96ff;
  margin-left: 60px;
}

// Bad example (X icon)
.bad-example {
  @extend %example-base;
  @include example-icon($close-icon);
  background-color: #f8e4d9ff;
  border-left: 5px solid #e57b35ff;
}
