
/* Set font size and alignment for the message */
.bottom-message {
    font-size: 0.8em !important;
    font-style: italic !important;
    text-align: center;
    position: relative;
    bottom: 0 !important;
    left: 0;
    right: 0;
}

.reveal code {
    background-color: #1e1e1eef; /* Dark background for code chunks */
    color: white; /* White text for code */
    font-size: 1.2em;
    line-height: 1.2;
}

.code-small code {
    background-color: #1e1e1eef; /* Dark background for code chunks */
    color: white; /* White text for code */
    font-size: 1em;
    line-height: 1;
}

.reveal code::selection {
    background-color: #d97306 !important; /* Dark orange background for selected text */
}


/* Specific styles for code output: background */
.reveal code.output {
    background-color: black; /* Black background for code outputs */
}

/* Custom class for code alt display */
.code-alt code {
    background-color: #ffecd0ac; /* Dark background for code outputs */
    max-height: 400px !important;
    font-family: 'Menlo', sans-serif;
    font-size: 0.8em;
    color: rgb(76, 76, 76)
}



/* Code output text color */
.reveal pre code.output {
    color: white;
}

  
/* Left-align all code outputs */
.reveal pre code {
  text-align: left !important;
}


/* Add horizontal scrolling to all code outputs */
.reveal pre code.output {
    white-space: pre !important;
    overflow-x: auto !important;
}
/* Change the font family used for code blocks */
pre, code, kbd, samp {
    font-family: "Courier New", Courier, monospace;
}
  
  
/* Add horizontal scrolling to all code chunks */
.reveal pre code {
    white-space: pre !important;
    overflow-x: auto !important;
}

/* Change the font family used for all text except code */
.reveal p, .reveal li, .reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    font-family: "Helvetica", sans-serif;
}

.reveal h3 {
    color: black;
    font-size: 0.7em;
}
/* Bold slide titles and change color */
.reveal h2 {
    font-weight: bold !important;
    color: #9c0366;
    font-size: 1.3em;
}
/* Bold slide titles and change color */
.reveal h1 {
    font-weight: bold !important;
    color: #9c0366;
    font-size: 2.0em;
}

.reveal .slides>section:first-child h2 {
    color: black;
    font-weight: normal !important;
}

.reveal .slides>section:first-child h1 {
    font-weight: bold !important;
    color: #9c0366;
}


.reveal p {
    text-align: left;
    margin-left: 20px !important;
  }
.reveal ul {
    display: block;
    margin-left: 75px !important;
    margin-right: 50px !important;
}

.reveal ul ul {
    font-size: 0.75em; /* Smaller font size */
    margin-bottom: 5px !important;
}
.reveal ol {
    display: block;
    margin-bottom: 20px;
    margin-left: 75px;
    margin-right: 50px
} 


/* Decrease size of image, remove border, shadow and center align*/
.reveal img {
    max-width: 70%;
    border: none !important;
    box-shadow: none !important;
    display: block !important;
    margin: 0 auto !important;
}

small {
    font-size: 70%;
}

/* Create a custom class for the small bullets, increase the spacing between list items */
.small-bullets ul {
    font-size: 85%;
}
.small-list ol {
    font-size: 80%;
}

.reveal li {
    margin-bottom: 10px !important;
}


.less-small-bullets ul {
    font-size: 80%;
}

.big-picture img{
    max-width: 95%;

}

.small-picture img{
    max-width: 65%;

}
.smaller-picture img{
    max-width: 60%;

}

/* Chage link color to sky blue */
.reveal a {
    color: #0c74dc;
}

/* Change link color to magenta on hover */
.reveal a:hover {
    color: #9c0366 !important;
}
